<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Portfolio Optimization Tool</title>
 
	<link href="static\portfolio.css" rel="stylesheet">
	
	
	<link href="../static/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

   	
	<script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/Portfolio.js"></script>
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	
	

</head>
  
 
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Portfolio Optimization Tool</p>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
           
          </ul>
        </div><!--/.nav-collapse -->
	
      </div>
    </nav>
	
	
	
	<!-- Stock list popup -->
	<div class="modal" id="MyModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Top Stocks and Symbols</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="modal-body">
			<div style="display: inline-flex;" class="input-group"> 
				<ul class="list-group">
					<li class="list-group-item">Alphabet (Google) = GOOG</li>
					<li class="list-group-item">American National Insurance Company = ANAT</li>
					<li class="list-group-item">Apple = AAPL</li>
					<li class="list-group-item">Amazon = AMZN</li>
					<li class="list-group-item">Coke = COKE</li>
					<li class="list-group-item">Exxon Mobile = XOM</li>
					<li class="list-group-item">Facebook = FB</li>
					<li class="list-group-item">IBM = IBM</li>
					<li class="list-group-item">Johnson & Johnson  = JNJ</li>
					
						
				</ul>
				<ul class="list-group">
					<li class="list-group-item">J.P. Morgan  = JPM</li>
					<li class="list-group-item">Microsoft = MSFT</li>
					<li class="list-group-item">McDonalds = MCD</li>
					<li class="list-group-item">Pfizer = PFE</li>
					<li class="list-group-item">Nordstrom = JWN</li>
					<li class="list-group-item">Starbucks = SBUX</li>
					<li class="list-group-item">Tesla = TSLA</li>	
					<li class="list-group-item">Twitter = TWTR</li>	
					<li class="list-group-item">Walmart = WMT</li>
				</ul>
				
			</div>
		</div>
			  <div class="modal-footer">
				<!--<button type="button" class="btn btn-primary">Save changes</button>-->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		</div>
	</div>
	
	
	<!-- Help Popup -->	
	<div class="modal" id="helpModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Help Section</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="modal-body">
			<div style="display: inline-flex;" class="input-group"> 
				<ul class="list-group">
					<li  class="list-group-item">Find best risk to reward ratio</li>
					<li id="parDesc2" style="font-size: 20px" class="list-group-item">This tells the application to find the portfolio with the best
					annual expected rate of return with regards to its volatility. If the selected algorithm is Modern Portfolio Theory then the application 
					will find the portfolio with the highest Sharpe ratio. If the selected algorithm is Post Modern Portfolio Theory then the application will find the 
					portfolio with the highest Sortino ratio.</li>	
						
					<li  class="list-group-item">Specify minimum rate of return</li>
					<li id="parDesc2" style="font-size: 20px" class="list-group-item">Specifying the minimum rate of return tells the application to 
					find the portfolio with the lowest volatility that also meets or exceeds your provided return. For example if you provide a minimum rate of 
					return of 20% then the application finds all possible portfolios that have an expected return of at least 20% and from there it chooses the portfolio
					with the lowest volatility. If the application cannot find a portfolio that meets your expected return then it will display a warning.</li>
						
				</ul>	
			</div>
		</div>
			  <div class="modal-footer">
				<!--<button type="button" class="btn btn-primary">Save changes</button>-->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		</div>
	</div>
	
 
 
	  <!-- This is the loading div that will display when the user is generating their portfolio -->
		<div id="loading_div">				
			<div class="modal-content">
				<div class="modal-header">
								
				</div>
			
				<div class="modal-body">
					<div style="text-align: center;" class="input-group"> 		
						<h2 style="text-align: center;" class="modal-title">Please wait while your portfolio is being generated...</h2>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
 
 
    <div id="main_container" class="container">
        
        <div id="main" class="jumbotron">
			<h3 id="title" class="text-muted">Generate Your Portfolio</h3>
            <h4>{{ message }}</h4>
            <p class="lead"></p>
			
		
				<!-- Start of the form -->				
				<form name="myForm" id="theForm" action="/generatePortfolio" onsubmit="return validateForm()" method="post">
					
					<div>
						<label id="checkBoxLabel" for="checkBox">Optimization Algorithm</label>
					
						<select name="algorithm" id = "myList">
						   <option value = "1">Modern Portfolio Theory</option>
						   <option id="pmpt" value = "2">Post Modern Portfolio Theory</option>	  
						</select>
					</div>
					
					<div id="mar_div">
						<label id="minimumAdjustedReturnLabel" for="expectedReturn">Minimum Adjusted Return</label>
					
						<select name="mar_value">
							<option value = "1">0%</option>
							<option value = "2">1%</option>
							<option value = "3">2%</option>
							<option value = "4">5%</option>					   
						</select>
					
					</div>
					
					<div class="form-group">
						<label id="portfolioSizeLabel" for="expectedReturn">Portfolio Size</label>
						<small id="returnHelp" class="form-text text-muted">(Enter the number of companies you wish to invest in)</small>
						<input type="name" name="portfolioSize" required="false" id="portfolioSize" class="form-control" placeholder="Portfolio Size" required="false">
						
					</div>				
					
						
		
				<label id="portfolioSizeLabel" for="expectedReturn">Stock Selection</label>
					
				<small id="emailHelp" class="form-text text-muted">	(Enter the stocks that you want to have in your portfolio in ticker form. E.g. Amazon = AMZN.)</small>
				
				<div><small id="emailHelp" class="form-text text-muted">If your portfolio size is greater than the number of stocks you have 
					provided then the application will autoselect some for you.</small>
				</div>
				
				<div id="stockInput">
					
					
					<div class="input-group">
						
						<input type="name" name="inputTicker1" id="inputTicker1" class="form-control" placeholder="Stock Ticker 1" autofocus>
					
						<span  style="visibility: hidden;"  class="input-group-addon"></span>
							
							<div style="padding-left: 10px;">
								<input type="name" name="inputTicker5" id="inputTicker5" class="form-control" placeholder="Stock Ticker 5">
							</div>
					</div>
					
					<!-- INPUT 2 AND 6 -->
					<div class="input-group">
						
						<input type="name" name="inputTicker2" id="inputTicker2" class="form-control" placeholder="Stock Ticker 2"  autofocus>
						
						<span  style="visibility: hidden;"  class="input-group-addon"></span>
							
						<div style="padding-left: 10px;">
							<input type="name" name="inputTicker6" id="inputTicker6" class="form-control" placeholder="Stock Ticker 6"  autofocus>
						</div>
					</div>
						
						
						
					<!-- INPUT 3 AND 7 -->
					<div class="input-group">
						<input type="name" name="inputTicker3" id="inputTicker3" class="form-control" placeholder="Stock Ticker 3" >	
						
						<span  style="visibility: hidden;"  class="input-group-addon"></span>
							
						<div style="padding-left: 10px;">
							<input type="name" name="inputTicker7" id="inputTicker7" class="form-control" placeholder="Stock Ticker 7" autofocus>
						</div>
					
					</div>	
						
						
					<!-- INPUT 4 AND 8 -->
					<div class="input-group">
								
						<input type="name" name="inputTicker4" id="inputTicker4" class="form-control" placeholder="Stock Ticker 4">
							<span  style="visibility: hidden;"  class="input-group-addon"></span>
							
						<div style="padding-left: 10px;">
							<input type="name" name="inputTicker8" id="inputTicker8" class="form-control" placeholder="Stock Ticker 8" autofocus>
						</div>
							
					</div>
					
					
					<button id="view_ticker_btn" type="button" class="btn-link" data-toggle="modal" data-target="#myModal">View Popular Stocks</button>
								
				</div>		
						
					
					<label id="checkBoxLabel" for="checkBox">Find best risk-reward ratio</label>
					
					<label class="switch">
						<input type="checkbox" for="checkBox" id="checkBox" name="checkBox">
						<span class="slider round"></span>
					</label>
					
					<label id="specifyMinReturnLabel">Specify Minimum Return
						<button style="padding-left: 60px"id="view_help_btn" type="button" class="btn-link" data-toggle="modal" data-target="#helpModal">Help?</button>
					</label>
					
					<div class="form-group">
						<label id="expectedReturnLabel" for="expectedReturn">Expected Return</label>
						<small id="returnHelpSmall" class="form-text text-muted">(Enter the minimum rate of return for your desired portfolio)</small>
						<input type="name" name="expectedReturn" required="false" id="expectedReturn" class="form-control" placeholder="Expected Return (%)">
						
					</div>
					
					
					
					
					<div class="cash-group" style="padding-top: 40px;">
						<label id="portfolioSizeLabel" for="expectedReturn">Cash Investment</label>
					<small id="emailHelp" class="form-text text-muted">	(Enter the cash value of your portfolio)</small>
						<input type="name"  name="cash"  id="cash" class="form-control" placeholder="Cash Investment (£)" required="false">
					</div>
						
						
						
					<button id="generatePortfolioBtn" data-target="#myModal" class="btn btn-lg btn-primary btn-block" type="submit">
						Generate Portfolio</button>
						
						
				</form>

			
			<small id="emailHelp" style="font-size:15px;" class="form-text text-muted">WARNING: The creator of this tool is not a professional in the finance industry and you should therefore take any information
			from it with caution.</small>
		</div>	
			
			
            
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                
		
				
            </div>
 
            <div class="col-lg-6">
                
            </div>
        </div>
 
        <footer class="footer">
           <button id="preset" class="btn btn-lg">Use Preset</button>
		   <button id="preset2" class="btn btn-lg">Use Preset2</button>
        </footer>
 
    </div>
</body>
 
</html>