<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Portfolio Optimization Tool</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	
	<link href="static/portfolio_summary.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<!--<script src="../static/js/jquery-1.11.2.js"></script> -->
	<script src="../static/js/Portfolio.js"></script>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>                                  
                    </li>
                </ul>
            </nav>
            <h3 id="testID" class="text-muted">Portfolio Summary</h3>
        </div>
		
		<table class="table table-dark">
		  <thead>
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Stock</th>
			  <th scope="col">Weight (%)</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">1</th>
			  <td id="t1">{{ t1 }}</td>
			  <td id="w1">{{ w1 }}</td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td id="t2">{{ t2 }}</td>
			  <td id="w2">{{ w2 }}</td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td id="t3">{{ t3 }}</td>
			  <td id="w3">{{ w3 }}</td>	
			</tr>
			<tr>
			  <th scope="row">4</th>
			  <td id="t4">{{ t4 }}</td>
			  <td id="w4">{{ w4 }}</td>	
			</tr>
		  </tbody>
		</table>
      
	  
	  
	    <div id="load_icon" class="jumbotron">
			<div class="return_data">
				<p>Expected Return:</p>	
				<p>{{ expected }}</p>
			</div>
				
			<img src={{ url }} alt="Chart" height="300" width="300">	
			<button id="exportToPdfBtn" class="btn btn-lg btn-primary btn-block">Export Portfolio to PDF</button>		 
		</div>
	  
	  
	  
	  
	  
	  
 
        <div class="row marketing">
            <div class="col-lg-6">
                

            </div>
			
			
			
			
            <div class="col-lg-6">
             
            </div>
        </div>
 
        <footer class="footer">
          
        </footer>
 
    </div>
</body>
 
</html>